@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand01: #74A76B;
  --color-brand02: #B69A1D;
  --color-brand03: #1E1E1E;
  --color-neutral01: #F9F5EC;
}

/* Set all button to cursor pointer */
button {
  cursor: pointer;
}